/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remove list styles (bullet points, numbering) */
ul, ol {
    list-style: none;
}

/* Remove default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/* Remove hyperlink decoration */
a {
    text-decoration: none;
}

/* Remove border outline on focused elements */
:focus {
    outline: 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

:root {
  --s-space: 10px;
  --m-space: 20px;
  --l-space: 30px;
  --bg: #d1d5db;
  --bg-hover: #c6c6c6;
  --font-color: #6a6a6a;
}

.description {
  margin: var(--s-space) 0;
  color: var(--font-color);
}

@font-face {
  font-family: mcdonald;
  src: url(../font/McDonald_s_Fries_Font.ttf);
}

@font-face {
  font-family: iansui;
  src: url(../font/Iansui-Regular.ttf);
}

@font-face {
  font-family: tegaki;
  src: url(../font/851tegaki_zatsu_normal_0883.ttf);
}

.font-mc {
  font-family: 'mcdonald';
}

.font-iansui {
  font-family: 'iansui';
}

.font-tegaki {
  font-family: 'tegaki';
}