/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remove list styles (bullet points, numbering) */
ul, ol {
    list-style: none;
}

/* Remove default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/* Remove hyperlink decoration */
a {
    text-decoration: none;
}

/* Remove border outline on focused elements */
:focus {
    outline: 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

:root {
  --s-space: 10px;
  --m-space: 20px;
  --l-space: 30px;
  --bg-hover: #c6c6c6;
}